/*===================Accept Alert=========================*/

.deleteBtn{

    text-decoration: none;
    background-color: rgba(255, 145, 0, 0.836);
    color: white;
    position: relative;
    float: right;
    padding: 12px;
    border-radius: 5px;
    transform: translateY(-30px);
}

.a-card{
    width: 70%;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: rgb(25, 186, 235);
    border-bottom: 1px solid rgb(76, 192, 238) ;
}
.a-card .a-info {
    padding: 20px;
}
.location{
    color: rgb(25, 186, 235);
}

.a-card .a-media img{
    width: 100%;
    max-width:80%;
    object-fit: cover;
    display: flex;

    
}

@media screen and (max-width: 1068px){
    .a-card{
        max-width: 50%;
    }
    a.a-media{
      
        
    }
}
@media screen and (max-width: 868px){
    .a-card{
     
        flex-direction: column;

    }
    .a-media{
       min-width: 100%;
       max-width: 100%;
       
    }
}

@media screen and (max-width: 768px){
    .a-card{
        
        flex-direction: column;

    }
    .a-media{
       min-width: 100%;
       max-width: 100%;
       
    }
}

